<div class="col-lg-3" style="height: 100%;">
    <div class="camp-title" id="camp-title">
        Home
    </div>
    <div class="fire-list" id="fire-list">
        {% for fire in fires %}
        <div id="channel-{{ fire.id }}" class="channel" onclick="fireDetail('{{ fire.id }}')">
            {{ fire.name }}
        </div>
        {% endfor %}

        <div class="channel add" onclick="showFireModal();">New Channel</div>
    </div>
</div>

<!-- RIGHT -->
<div class="fire-detail col-lg-9" style="height: 100%;">
</div>

<div id="fire-modal" class="modal hidden">
    <div class="modal-card">
        <div id="modalHome">
            <h2>Create Your Fire</h2>
            <p class="subtitle">Create your own server or join an existing one.</p>
            <input id="channelName" placeholder="first-fire" value="first-fire">
            <div class="actions">
                <button class="primary" onclick="createFire();">Create</button>
                <button class="cancelBtn" onclick="closeFireModal();">Cancel</button>
            </div>
        </div>
    </div>
</div>

<script>
    function showFireModal() {
        $('#fire-modal').removeClass('hidden');
    }

    function closeFireModal() {
        $('#fire-modal').addClass('hidden');
    }

    function createFire() {
        $.ajax({
            type: 'POST',
            url: '/proxy/post',
            data: JSON.stringify({
                'controller': 'fire',
                'action': 'create',
                'data': {
                    'camp_id': '{{ camp_id }}',
                    'name': $('#channelName').val(),
                    'type': 1
                }
            }),
            dataType: 'application/json',
            contentType: 'application/json',
            success: function (data) {
            }
        });
    }

    function fireDetail(fireId) {
        $('.channel.active').removeClass('active');
        $('#channel-' + fireId).addClass('active');

        $.ajax({
            type: 'GET',
            url: '/fire/detail?fire_id=' + fireId,
            // dataType: 'application/json',
            contentType: 'application/json',
            success: function (data) {
                $('.fire-detail').html(data);
            }
        });
    }
</script>
