{% extends "shared.html" %}
{% block content %}

<div class="col-lg-12 row">
    <input type="text" id="name" name="name" value="first-camp"/>
    <button type="button" onclick="create();">Create</button>
</div>

{% for camp in camps %}
<div class="col-lg-12 row">
    <div class="col-lg-6">
        {{ camp.name }}
    </div>

    <div class="col-lg-6">
        <button type="button" onclick="join({{ camp.id }})">Join</button>
        <button type="button" onclick="detail({{ camp.id }})">Detail</button>
    </div>
</div>
{% endfor %}

<script>
    function create() {
        $.ajax({
            type: 'POST',
            url: '/camp/create',
            data: JSON.stringify({
                'name': $('#name').val()
            }),
            dataType: 'application/json',
            contentType: 'application/json',
            success: function (data) {
            }
        });
    }

    function join(campId) {
        $.ajax({
            type: 'POST',
            url: '/camp/join',
            data: JSON.stringify({
                'camp_id': campId
            }),
            dataType: 'application/json',
            contentType: 'application/json',
            success: function (data) {
                console.log(data);
            }
        });
    }

    function detail(campId) {
        window.open('/camp/detail?camp_id=' + campId, '_blank');
    }
</script>

{% endblock %}
