{% extends "shared.html" %}
{% block content %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<style>
    .register-container{
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .register-logo{
        position: relative;
        margin-left: -41.5%;
    }
    .register-logo img{
        position: absolute;
        width: 20%;
        margin-top: 19%;
        background: #282726;
        border-radius: 4.5rem;
        padding: 5%;
    }
    .register-form{
        padding: 9%;
        background:#282726;
        box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    }
    .register-form h3{
        text-align: center;
        margin-bottom:12%;
        color:#fff;
    }
    .btnSubmit{
        font-weight: 600;
        width: 50%;
        color: #282726;
        background-color: #fff;
        border: none;
        border-radius: 1.5rem;
        padding:2%;
        width: 100%;
    }
    .btnForgetPwd{
        color: #fff;
        font-weight: 600;
        text-decoration: none;
    }
    .btnForgetPwd:hover{
        text-decoration:none;
        color:#fff;
    }
</style>

<div class="container register-container">
    <div class="row">
        <div class="col-md-12 register-form">
            <h3>Login Form 1</h3>

            <form action="/home/register" method="post">
                <div class="form-group">
                    <input name="username" type="text" class="form-control" placeholder="Your Username *" value="malkoch"/>
                </div>
                <div class="form-group">
                    <input name="password" type="password" class="form-control" placeholder="Your Password *" value="1234"/>
                </div>
                <div class="form-group">
                    <input name="repassword" type="password" class="form-control" placeholder="RE Your Password *" value="1234"/>
                </div>
                <div class="form-group">
                    <input type="submit" class="btnSubmit" value="Login"/>
                </div>
                <div class="form-group">
                    <a href="#" class="btnForgetPwd">Forget Password?</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
