{% extends "shared.html" %}
{% block content %}

{% for campfire in campfires %}
<div class="col-lg-12 row">
    <div class="col-lg-6">
        {{ campfire.name }}
    </div>

    <div class="col-lg-6">
        <button type="button" onclick="join({{ campfire.id }})">Join</button>
        <button type="button" onclick="detail({{ campfire.id }})">Detail</button>
    </div>
</div>
{% endfor %}


<script>
    function join(campfireId) {
        $.ajax({
            type: 'POST',
            url: '/campfire/join',
            data: JSON.stringify({
                'campfire_id': campfireId
            }),
            dataType: 'application/json',
            contentType: 'application/json',
            success: function (data) {
                console.log(data);
            }
        });
    }

    function detail(campfireId) {
        window.open('/campfire/detail?campfire_id=' + campfireId, '_blank');
    }
</script>

{% endblock %}
